node_modules/
dist/
Ejecutable/
Ejecutable
.env
*.log
.DS_Store
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/*.iml
android/.idea/
android/keystore.properties
android/*.jks
android/*.keystore
